@CHARSET "UTF8";
/* Rounded Tables */
.rr_WHITE {
	margin: 0px;
	padding: 0px;
	direction: rtl;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///Container Tables //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////// */
/* /// ORANGE ///////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_ORANGE_top_right {
	background-image: url(../images/roundedBoxes/rr_ORANGE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_ORANGE_top_top {
	background-image: url(../images/roundedBoxes/rr_ORANGE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_ORANGE_top_left {
	background-image: url(../images/roundedBoxes/rr_ORANGE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_ORANGE_right_right {
	background-image: url(../images/roundedBoxes/rr_ORANGE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_ORANGE_center {
	background-image: url(../images/roundedBoxes/rr_ORANGE_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_ORANGE_left_left {
	background-image: url(../images/roundedBoxes/rr_ORANGE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_ORANGE_bottom_right {
	background-image: url(../images/roundedBoxes/rr_ORANGE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_ORANGE_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_ORANGE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_ORANGE_bottom_left {
	background-image: url(../images/roundedBoxes/rr_ORANGE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}


/* ////////////////////////////////////////////////////////////// */
/* /// BLUE ///////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_BLUE_top_right {
	background-image: url(../images/roundedBoxes/rr_BLUE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_BLUE_top_top {
	background-image: url(../images/roundedBoxes/rr_BLUE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_BLUE_top_left {
	background-image: url(../images/roundedBoxes/rr_BLUE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_BLUE_right_right {
	background-image: url(../images/roundedBoxes/rr_BLUE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_BLUE_center {
	background-image: url(../images/roundedBoxes/rr_BLUE_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_BLUE_left_left {
	background-image: url(../images/roundedBoxes/rr_BLUE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_BLUE_bottom_right {
	background-image: url(../images/roundedBoxes/rr_BLUE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_BLUE_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_BLUE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_BLUE_bottom_left {
	background-image: url(../images/roundedBoxes/rr_BLUE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

/* ////////////////////////////////////////////////////////////// */
/* /// GREENBLUE ///////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_GREENBLUE_top_right {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_GREENBLUE_top_top {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_GREENBLUE_top_left {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_GREENBLUE_right_right {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_GREENBLUE_center {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_GREENBLUE_left_left {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_GREENBLUE_bottom_right {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_GREENBLUE_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_GREENBLUE_bottom_left {
	background-image: url(../images/roundedBoxes/rr_GREENBLUE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

/* ////////////////////////////////////////////////////////////// */
/* /// RED ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_RED_top_right {
	background-image: url(../images/roundedBoxes/rr_RED_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_RED_top_top {
	background-image: url(../images/roundedBoxes/rr_RED_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_RED_top_left {
	background-image: url(../images/roundedBoxes/rr_RED_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_RED_right_right {
	background-image: url(../images/roundedBoxes/rr_RED_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_RED_center {
	background-image: url(../images/roundedBoxes/rr_RED_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_RED_left_left {
	background-image: url(../images/roundedBoxes/rr_RED_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_RED_bottom_right {
	background-image: url(../images/roundedBoxes/rr_RED_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_RED_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_RED_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_RED_bottom_left {
	background-image: url(../images/roundedBoxes/rr_RED_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
.rr_WHITE .rr_WHITE_top_right {
	background-image: url(rr_WHITE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_WHITE .rr_WHITE_top_top {
	background-image: url(rr_WHITE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_WHITE .rr_WHITE_top_left {
	background-image: url(rr_WHITE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_WHITE .rr_WHITE_right_right {
	background-image: url(rr_WHITE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_WHITE .rr_WHITE_center {
	background-image: url(rr_WHITE_center_center.png);
	background-repeat: repeat;
}

.rr_WHITE .rr_WHITE_left_left {
	background-image: url(rr_WHITE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_WHITE .rr_WHITE_bottom_right {
	background-image: url(rr_WHITE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_WHITE .rr_WHITE_bottom_bottom {
	background-image: url(rr_WHITE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_WHITE .rr_WHITE_bottom_left {
	background-image: url(rr_WHITE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

/* ////////////////////////////////////////////////////////////// */
/* /// BASE //////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_BASE_top_right {
	background-image: url(../images/roundedBoxes/rr_BASE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_BASE_top_top {
	background-image: url(../images/roundedBoxes/rr_BASE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_BASE_top_left {
	background-image: url(../images/roundedBoxes/rr_BASE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_BASE_right_right {
	background-image: url(../images/roundedBoxes/rr_BASE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_BASE_center {
	background-image: url(../images/roundedBoxes/rr_BASE_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_BASE_left_left {
	background-image: url(../images/roundedBoxes/rr_BASE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_BASE_bottom_right {
	background-image: url(../images/roundedBoxes/rr_BASE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_BASE_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_BASE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_BASE_bottom_left {
	background-image: url(../images/roundedBoxes/rr_BASE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}




/* ////////////////////////////////////////////////////////////// */
/* /// GREEN //////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_GREEN_top_right {
	background-image: url(../images/roundedBoxes/rr_GREEN_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_GREEN_top_top {
	background-image: url(../images/roundedBoxes/rr_GREEN_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_GREEN_top_left {
	background-image: url(../images/roundedBoxes/rr_GREEN_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_GREEN_right_right {
	background-image: url(../images/roundedBoxes/rr_GREEN_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_GREEN_center {
	background-image: url(../images/roundedBoxes/rr_GREEN_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_GREEN_left_left {
	background-image: url(../images/roundedBoxes/rr_GREEN_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_GREEN_bottom_right {
	background-image: url(../images/roundedBoxes/rr_GREEN_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_GREEN_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_GREEN_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_GREEN_bottom_left {
	background-image: url(../images/roundedBoxes/rr_GREEN_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

/* ////////////////////////////////////////////////////////////// */
/* /// YELLOW /////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_YELLOW_top_right {
	background-image: url(../images/roundedBoxes/rr_YELLOW_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_YELLOW_top_top {
	background-image: url(../images/roundedBoxes/rr_YELLOW_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_YELLOW_top_left {
	background-image: url(../images/roundedBoxes/rr_YELLOW_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_YELLOW_right_right {
	background-image: url(../images/roundedBoxes/rr_YELLOW_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_YELLOW_center {
	background-image: url(../images/roundedBoxes/rr_YELLOW_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_YELLOW_left_left {
	background-image: url(../images/roundedBoxes/rr_YELLOW_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_YELLOW_bottom_right {
	background-image: url(../images/roundedBoxes/rr_YELLOW_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_YELLOW_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_YELLOW_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_YELLOW_bottom_left {
	background-image: url(../images/roundedBoxes/rr_YELLOW_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

/* ////////////////////////////////////////////////////////////// */
/* /// WHITE //////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.rr_Table .rr_WHITE_top_right {
	background-image: url(../images/roundedBoxes/rr_WHITE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_WHITE_top_top {
	background-image: url(../images/roundedBoxes/rr_WHITE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_WHITE_top_left {
	background-image: url(../images/roundedBoxes/rr_WHITE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_WHITE_right_right {
	background-image: url(../images/roundedBoxes/rr_WHITE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_WHITE_center {
	background-image: url(../images/roundedBoxes/rr_WHITE_center_center.png);
	background-repeat: repeat;
}

.rr_Table .rr_WHITE_left_left {
	background-image: url(../images/roundedBoxes/rr_WHITE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_Table .rr_WHITE_bottom_right {
	background-image: url(../images/roundedBoxes/rr_WHITE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_Table .rr_WHITE_bottom_bottom {
	background-image: url(../images/roundedBoxes/rr_WHITE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_Table .rr_WHITE_bottom_left {
	background-image: url(../images/roundedBoxes/rr_WHITE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
