@CHARSET "UTF8";

.paginate {
	font-size: 20px;	
	font-weight: bolder;	
}

.paginate a.hrefed {
	font-size: 28px;
	color: #A2D1FB;
	vertical-align: top;
}
img{
 border: none;	
}

.noHref {
	cursor: default;
}

/* Rounded Tables */
.rr_GREENBLUE {
	margin: 0px;
	padding: 0px;
	direction: rtl;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.rr_GREENBLUE .rr_GREENBLUE_top_right {
	background-image: url(rr_GREENBLUE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_GREENBLUE .rr_GREENBLUE_top_top {
	background-image: url(rr_GREENBLUE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_GREENBLUE .rr_GREENBLUE_top_left {
	background-image: url(rr_GREENBLUE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_GREENBLUE .rr_GREENBLUE_right_right {
	background-image: url(rr_GREENBLUE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_GREENBLUE .rr_GREENBLUE_center {
	background-image: url(rr_GREENBLUE_center_center.png);
	background-repeat: repeat;
}

.rr_GREENBLUE .rr_GREENBLUE_left_left {
	background-image: url(rr_GREENBLUE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_GREENBLUE .rr_GREENBLUE_bottom_right {
	background-image: url(rr_GREENBLUE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_GREENBLUE .rr_GREENBLUE_bottom_bottom {
	background-image: url(rr_GREENBLUE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_GREENBLUE .rr_GREENBLUE_bottom_left {
	background-image: url(rr_GREENBLUE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}





/* Rounded Tables */
.rr_WHITE {
	margin: 0px;
	padding: 0px;
	direction: rtl;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.rr_WHITE .rr_WHITE_top_right {
	background-image: url(rr_WHITE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_WHITE .rr_WHITE_top_top {
	background-image: url(rr_WHITE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_WHITE .rr_WHITE_top_left {
	background-image: url(rr_WHITE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_WHITE .rr_WHITE_right_right {
	background-image: url(rr_WHITE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_WHITE .rr_WHITE_center {
	background-image: url(rr_WHITE_center_center.png);
	background-repeat: repeat;
}

.rr_WHITE .rr_WHITE_left_left {
	background-image: url(rr_WHITE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_WHITE .rr_WHITE_bottom_right {
	background-image: url(rr_WHITE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_WHITE .rr_WHITE_bottom_bottom {
	background-image: url(rr_WHITE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_WHITE .rr_WHITE_bottom_left {
	background-image: url(rr_WHITE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
