@CHARSET "UTF8";
/* Rounded Tables */
.rr_BLUE {
	margin: 0px;
	padding: 0px;
	direction: rtl;
}

/* /////////////////////////// */
.rr_BLUE .rr_BLUE_top_right {
	background-image: url(rr_BLUE_top_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_BLUE .rr_BLUE_top_top {
	background-image: url(rr_BLUE_top_top.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_BLUE .rr_BLUE_top_left {
	background-image: url(rr_BLUE_top_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_BLUE .rr_BLUE_right_right {
	background-image: url(rr_BLUE_left_left.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_BLUE .rr_BLUE_center {
	background-image: url(rr_BLUE_center_center.png);
	background-repeat: repeat;
}

.rr_BLUE .rr_BLUE_left_left {
	background-image: url(rr_BLUE_right_right.png);
	background-repeat: repeat-y;
	width: 20px;
}

.rr_BLUE .rr_BLUE_bottom_right {
	background-image: url(rr_BLUE_bottom_left.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.rr_BLUE .rr_BLUE_bottom_bottom {
	background-image: url(rr_BLUE_bottom_bottom.png);
	background-repeat: repeat-x;
	height: 20px;
}

.rr_BLUE .rr_BLUE_bottom_left {
	background-image: url(rr_BLUE_bottom_right.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

